@font-face {
    font-family: 'GrandSlang Roman';
    src: url('./fonts/0fddb08144cea533dcd3d39388b7ffbe.eot'),
        url('./fonts/0fddb08144cea533dcd3d39388b7ffbe.woff2') format('woff2'),
        url('./fonts/0fddb08144cea533dcd3d39388b7ffbe.woff') format('woff'),
        url('./fonts/0fddb08144cea533dcd3d39388b7ffbe.ttf') format('truetype'),
        url('./fonts/0fddb08144cea533dcd3d39388b7ffbe.svg#GrandSlang Roman')
            format('svg');
}

@font-face {
    font-family: 'Runalto';
    src: url('./fonts/Runalto.otf'), url('./fonts/Runalto.ttf'),
        url('./fonts/Runalto.woff');
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'droid-serif';
    src: url('droid-Serif.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid-sans-mono';
    src: url('droid-sans-mono.woff');
    font-weight: normal;
    font-style: normal;
}
:root {
  --subText: #f3d4e5;
  --primary-color-dark: #00796b;
  --primary-color: #009688;
  --primary-color-light: #b2dfdb;
  --primary-color-text: #ffffff;
  --accent-color: #ff4081;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;
  --burgundy: #590016;
  --burgundy-light: #eee7e1;
  --dark-color: #1a1919;
  --burgundy-dark: #400010;
  --teal: #006767;
  --teal-light: #ddffff;
  --teal-dark: #004e4e;
  --color-shadow: #00000026;
}
body{
    background-color: var(--dark-color);
    font-family: 'Montserrat';
    color: var(--burgundy-light);
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, header{
    font-family: 'GrandSlang Roman'; 
    font-weight: 100;
}
a{
    text-decoration: none;
    color: var(--burgundy-light)
}

.navigation{
    height: 10vh;
    display: flex;;
    align-items: center;
}


.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.description{
    display: flex;
}


/* About Page Styles start here ////////////////////// */

.aboutContainer{
    width: 50vw;
    margin: 0 auto;
}
.aboutHeader{
    margin: 20px 0;
}
.aboutHeader *{
    margin: 0;
    letter-spacing: 3px;
    line-height: 1.5em;
}

.aboutHeader h1{
    font-size: 4em;
}
.aboutHeader h2{
    font-size: 2em;
}

.aboutMain{
    font-weight: 100;
    line-height: 2;
    font-size: 1.2em;
    text-align: justify;
}
.aboutfooter{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.aboutfooter > *{
    width: 50%;
    height: 20vh;
}
.aboutfooter .follow section{
    display: flex;
    line-height: 1.5;
    flex-direction: column;
}

Contact Page Styles Start here