@font-face {
  font-family: 'GrandSlang Roman';
  src: url('./fonts/0fddb08144cea533dcd3d39388b7ffbe.eot'),
    url('./fonts/0fddb08144cea533dcd3d39388b7ffbe.woff2') format('woff2'),
    url('./fonts/0fddb08144cea533dcd3d39388b7ffbe.woff') format('woff'),
    url('./fonts/0fddb08144cea533dcd3d39388b7ffbe.ttf') format('truetype'),
    url('./fonts/0fddb08144cea533dcd3d39388b7ffbe.svg#GrandSlang Roman')
      format('svg');
}

@font-face {
  font-family: 'Runalto';
  src: url('./fonts/Runalto.otf'), url('./fonts/Runalto.ttf'),
    url('./fonts/Runalto.woff');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'droid-serif';
  src: url('droid-Serif.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'droid-sans-mono';
  src: url('droid-sans-mono.woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --subText: #f3d4e5;
  --primary-color-dark: #00796b;
  --primary-color: #009688;
  --primary-color-light: #b2dfdb;
  --primary-color-text: #ffffff;
  --accent-color: #fda7df;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;
  --burgundy: #590016;
  --burgundy-light: #eee7e1;
  --dark-color: #1a1919;
  --burgundy-dark: #400010;
  --teal: #006767;
  --teal-light: #ddffff;
  --teal-dark: #004e4e;
  --color-shadow: #00000026;
}
html * {
  box-sizing: border-box;
}
body {
  background-color: var(--dark-color);
  font-family: 'Montserrat';
  color: var(--burgundy-light);
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: 'GrandSlang Roman';
  font-weight: 100;
  font-weight: 100;
}
a {
  text-decoration: none;
  color: var(--burgundy-light);
}

.navigation {
  height: 10vh;
  display: flex;
  align-items: center;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Home page styles start here ////////////////// */
.main section {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(2, 250px);
  gap: 0;
  transition: all 0.5s ease-in-out;
  margin: 0;
  padding: 0;
  transform: rotate(45deg);
  margin-bottom: -50px;
}
.main div {
  width: 250px;
  height: 250px;
  margin: 0;
}

.main .first {
  border-right: 3px solid var(--divider-color);
  border-bottom: 3px solid var(--divider-color);
  color: var(--burgundy);
}
.main .second {
  border-left: 3px solid var(--divider-color);
  border-bottom: 3px solid var(--divider-color);
  color: var(--teal);
}
.main .third {
  border-right: 3px solid var(--divider-color);
  border-top: 3px solid var(--divider-color);
  color: var(--burgundy);
}
.main .fourth {
  border-left: 3px solid var(--divider-color);
  border-top: 3px solid var(--divider-color);
  color: var(--teal);
}
.first,
.second,
.third,
.fourth {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  transform: rotate(-45deg);
  font-size: 1.3rem;
  font-family: 'Runalto';
}
.first:hover,
.second:hover,
.third:hover {
  border: 1px solid var(--accent-color);
}
.main footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
}

/* About Page Styles start here ////////////////////// */

.aboutContainer {
  width: 50vw;
  margin: 0 auto;
}
.aboutHeader {
  margin: 20px 0;
}
.aboutHeader * {
  margin: 0;
  letter-spacing: 3px;
  line-height: 1.5em;
}

.aboutHeader h1 {
  font-size: 4em;
}
.aboutHeader h2 {
  font-size: 2em;
}

.aboutMain {
  font-weight: 100;
  line-height: 2;
  font-size: 1.2em;
  text-align: justify;
}
.aboutfooter {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.aboutfooter > * {
  width: 50%;
  height: 20vh;
}
.aboutfooter .follow section {
  display: flex;
  line-height: 1.5;
  flex-direction: column;
}

/* Contact Page Styles Start here */
.contactPage {
  display: flex;
  height: 100vh;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.contactPage .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 40%;
  padding-left: 100px;
  font-size: 5em;
  border: 1px solid thistle;
}
.contactPage .right {
  width: 60%;
}
.contactPage .left h1 {
  margin: 0;
}
.contactPage .left h1:last-child {
  color: var(--accent-color);
}

.contactPage .right {
  display: flex;
  height: 40%;
  flex-direction: column;
  align-items: center;
  border: 1px solid thistle;
}

.contactPage .right .text {
  font-size: 1.7em;
  font-weight: 100;
  line-height: 2;
}

.contactPage .right .text span {
  border-bottom: 1px solid var(--accent-color);
}
.contactPage .right .iconBox {
  display: flex;
  font-size: 1em;
}
.contactPage .right .iconBox p {
  margin: 0 10px;
}
.contactPage .right .iconBox img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.contactPage .right .iconBox section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
